# Окружение
.env

#Настройки IDE
/.vscode/

# Log с ошибками
/yarn-error.log

# DB
/pgdata/

# Исключения в backend
/backend/dist/
/backend/node_modules/

# Исключения в frontend
/frontend/node_modules/
